.profilepage{
    margin: 2% 30%; 
    background-color: white;
    padding: 8% 5% 5% 5%;
}
.profilepage>div{
    margin-bottom: 5%;
}
.profilepage>div>input{
    padding: 10px;
    width: 70%;
    font-size: medium;
}
.profilepage>div>button{
    border-style: none;
    font-size: medium;
    padding: 10px;
    margin-left: 2%;
}
.profilepage>button{
    padding: 10px;
    color: white;
    margin-left: 22%;
    margin-top: 10%;
    border-style: none;
    background-color: rgb(82, 7, 65);
}